[global]
fsid = d5a3e28d-1274-462a-b932-7011bbbd11c8
mon_initial_members = NodeA  NodeB NodeC
mon_host = 192.168.0.207  192.168.0.208  192.168.0.209
auth_cluster_required = none
auth_service_required = none
auth_client_required =  none
public  network = 192.168.0.0/24
cluster network = 192.168.0.0/24

osd_pool_default_size = 2
osd_pool_default_min_size = 1
osd_pool_default_pg_num = 128
osd_pool_default_pgp_num = 128

osd_max_backfills = 1
osd_crush_update_on_start = 0
osd_recovery_max_single_start = 1 
osd_client_message_cap = 65536
osd_client_message_size_cap = 524288000
osd_op_threads = 10
osd_disk_threads = 2
osd_client_op_priority = 100
osd_recovery_max_active = 1
osd_recovery_op_priority = 5
osd_scrub_end_hour = 6

filestore_xattr_use_omap = true
filestore_max_sync_interval = 15
filestore_min_sync_interval = 10
filestore_queue_max_ops = 65536
filestore_queue_max_bytes = 536870912
filestore_queue_committing_max_bytes = 536870912
filestore_queue_committing_max_ops = 65536
filestore_op_threads = 6
filestore_fd_cache_size = 4096

filestore_wbthrottle_xfs_bytes_start_flusher = 419430400
filestore_wbthrottle_xfs_bytes_hard_limit =    4194304000
filestore_wbthrottle_xfs_ios_start_flusher = 5000
filestore_wbthrottle_xfs_ios_hard_limit = 50000
filestore_wbthrottle_xfs_inodes_start_flusher = 5000
filestore_wbthrottle_xfs_inodes_hard_limit = 50000

journal_max_write_bytes = 1073714824
journal_max_write_entries = 5000
journal_queue_max_ops = 65536
journal_queue_max_bytes = 536870912

ms_dispatch_throttle_bytes = 536870912
debug_ms =  0
debug_osd = 0
mon_pg_warn_max_object_skew = 20
