[mon.]
	key = AQC0JkhYWiUqMhAApCRUaJa7Y4dW28xbgdZECQ==
	caps mon = "allow *"
[client.admin]
	key = AQAUJ0hYj9nGIRAAfi9qAP01RY+BnBYTzwaUKA==
	auid = 0
	caps mds = "allow"
	caps mon = "allow *"
	caps osd = "allow *"
